<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.axg.study.seata.mapper.OrderAtMapper">

    <resultMap id="BaseResultMap" type="cn.axg.study.seata.model.OrderAt">
        <id column="id" property="id"/>
        <id column="product_id" property="productId"/>
        <id column="count" property="count"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, product_id, count
    </sql>

</mapper>